{% extends 'base.html' %} 
{% block title %}Home{% endblock %}

{% block content %}

<section>
    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
                    {% for post in post_list %}
                    <div class="post-card my-3">
                        <h2>{{ post.title }}</h2>
                        <img style="width: 350px; height: auto;" src=" {{ post.featured_image.url }}">
                        <h4>By: {{ post.author | safe }}</h4>
                        <p class="m-0 p-3">{{ post.excerpt | safe }}</p>
                        <p class="m-0"><a href="{{ post.link}}"><a></p>
                    </div>
                    {% endfor %}
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</section>

{% endblock %}